#nav-bar {
    background:  #00a087;
    padding-left: 2em;
    padding-right: 2em;
    height: 80px;
}
#nav-bar img.logo {
    height: 80px;
    width: 80px;
    float: left;
}
#nav-bar span.header {
    color: #e8fdff;
    font-size: xx-large;
    float: left;
    line-height: 2em;
}
#nav-bar button.compose {
    outline: none;
    color: rgb(7, 150, 78);
    height: 70%;
    width: 15%;
    border-radius: 10px;
    float: right;
    background-color: rgb(236, 236, 236);
    margin-top: .75em;
}
#nav-bar button.compose:hover{
color: black;
background-color: white;
}